@import "tailwindcss";
@config "../../tailwind.config.ts";

/* Ocultar scrollbar para un look más limpio de app nativa */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c; 
}
::-webkit-scrollbar-thumb {
  background: #00f0ff; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff003c; 
}